/* ----- IMPORTS ----- */
@import url("https://fonts.googleapis.com/css?family=Pacifico");

/* ----- GENERAL STYLES ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: "Pacifico", cursive;
    text-rendering: optimizeLegibility;
    color: #fff;
    background-color: #f5b042;
    min-width: 570px;
    text-shadow: 2px 2px 0 rgb(82, 99, 252);
}

:root {
    --navbar-height: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
    font-size: 0.8em;
}

ul {
    list-style: none;
}

::placeholder {
    color: rgba(255, 255, 255, 0.541);
}

input[type="text"] {
    font-family: "Pacifico", cursive;
}
/* ----- CONTAINER ----- */

.container {
    display: flex;
    flex-direction: column;
}

/* ----- NAVBAR ----- */

#navbar {
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-navbar {
    font-size: 1.5em;
}

/* ----- CONTENT AREA ----- */

main {
    height: calc(100vh - var(--navbar-height));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* ----- TITLE AREA ----- */

#title-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    flex: 2;
}

#title-main {
    font-size: 2.5em;
    margin: 0;
    text-align: justify;
}

#input-location {
    margin: 0;
    font-size: 2em;
    font-weight: 300;
    font-style: italic;
    color: rgb(82, 99, 252);
    margin-left: 2em;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid #fff;
    text-align: center;
}

/* ----- RESPONSE AREA ----- */

#response-container {
    flex: 1.5
}

#response-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}
